.profile_maker.sticky-enabled th.select-all {
  width: 15px;
}

.profile_maker.sticky-enabled th:first-child {
  width: 15px;
}

#profile-maker-environment-edit fieldset .fieldset-wrapper {
  margin-top: 0;
}
